<div class="col-sm-3 center-block" id="hour_picker">
      <table class="table table-striped table-hover" border="1">
        <tr>
          <th class="selected_date"></th>
        </tr>
        <tr class="cal_table2">
          <td class="0700">7:00 am</td>
        </tr>
        <tr class="cal_table2">
          <td class="0800">8:00 am</td>
        </tr>
        <tr class="cal_table2">
          <td class="0900">9:00 am</td>
        </tr>
        <tr class="cal_table2">
          <td class="1000">10:00 am</td>
        </tr>
        <tr class="cal_table2">
          <td class="1100">11:00 am</td>
        </tr>
        <tr class="cal_table2">
          <td class="1200">12:00 pm</td>
        </tr>
        <tr class="cal_table2">
          <td class="0100">1:00 pm</td>
        </tr>
        <tr class="cal_table2">
          <td class="0200">2:00 pm</td>
        </tr>
        <tr class="cal_table2">
          <td class="0300">3:00 pm</td>
        </tr>
        <tr class="cal_table2">
          <td class="0400">4:00 pm</td>
        </tr>
        <tr class="cal_table2">
          <td class="0500">5:00 pm</td>
        </tr>
        <tr class="cal_table2">
          <td class="0600">6:00 pm</td>
        </tr>

        <tr class="cal_table3">
          <td class="cal_previous"><form method="link" action="/appointments/new"><button class="btn btn-success">Reset</button></form></td>
        </tr>
      </table>
    </div>
