<div id='hour_picker'>
      <table border="1">
        <tr>
          <th class = 'selected_date'></th>
        </tr>
        <tr class = 'cal_table2'>
          <td type ="button" class = '0700'>7:00 am</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '0800'>8:00 am</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '0900'>9:00 am</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1000'>10:00 am</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1100'>11:00 am</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1200'>12:00 pm</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1300'>1:00 pm</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1400'>2:00 pm</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1500'>3:00 pm</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1600'>4:00 pm</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1700'>5:00 pm</td>
        </tr>
        <tr class = "cal_table2">
          <td type ="button" class = '1800'>6:00 pm</td>
        </tr>

        <tr class = "cal_table3">
          <td class = 'cal_previous'><form method='link' action="/appointments/new"><button class='btn'>back</button></form></td>
        </tr>
      </table>
    </div>
